@import url("https://fonts.googleapis.com/css?family=Lato:700,400|Merriweather:300,400&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12vw 88vw;
  grid-template-columns: 12vw 88vw; }
  body nav {
    background: #3da9fc;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    body nav a {
      text-align: center;
      font-family: "Lato";
      text-decoration: none;
      color: #fffffe;
      padding: 1rem 2rem; }
      body nav a:hover {
        background: #0b93fb;
        -webkit-transition: .3s ease-in all;
        -o-transition: .3s ease-in all;
        transition: .3s ease-in all; }
  body main header {
    font-family: "Lato";
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    border-bottom: 1px solid #5f6c7b;
    margin: 0 4rem; }
    body main header h1 {
      margin: 2rem 0;
      color: #094067; }
  body main figure {
    max-width: 14rem;
    text-align: center; }
    body main figure img {
      width: 100%;
      height: auto; }
    body main figure figcaption {
      margin: 1rem 0;
      font-size: 1.4rem;
      color: #5f6c7b; }
    body main figure .author {
      font-size: .8rem; }
  body main .fiction, body main .nonFiction, body main .graphicNovel {
    margin: 6rem 0; }
    body main .fiction h2, body main .nonFiction h2, body main .graphicNovel h2 {
      font-family: "Lato";
      color: #094067;
      font-weight: 700;
      font-size: 2rem;
      margin: 2rem 4rem; }
    body main .fiction .bookdisplay, body main .nonFiction .bookdisplay, body main .graphicNovel .bookdisplay {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly; }
  body footer {
    background: red; }
