@import url('https://fonts.googleapis.com/css?family=Lato:700,400|Merriweather:300,400&display=swap');

@import 'vars';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    display: grid;
    grid-template-columns: 12vw 88vw;
    nav{
        background: $secondary;
        position: sticky;
        top: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        a{
            text-align: center;
            font-family: $sans-serif;
            text-decoration: none;  
            color: $white;
            padding: 1rem 2rem;
            &:hover{
                background: darken($secondary, 10);
                transition: .3s ease-in all;
            }
        }
       

    }
    main{
        header{
            font-family: $sans-serif;
            font-weight: 700;
            font-size: 2rem;
            text-align: center;
            border-bottom: 1px solid $grey;
            margin: 0 4rem;
            h1{
                margin: 2rem 0;
                color: $heading;
            
            }
            
        }

        figure{
                max-width: 14rem;
                text-align: center;
                img{
                    width: 100%;
                    height: auto;
                    // margin-bottom: 1rem;
                }
                figcaption{
                    margin: 1rem 0;
                    font-size: 1.4rem;
                    color: $grey;

                }
                .author{
                    font-size: .8rem;
                }
        }

        section{
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .fiction, .nonFiction, .graphicNovel{
            // margin: 6rem 0;
            h2{
                font-family: $sans-serif;
                color: $heading;
                font-weight: 700;
                font-size: 2rem;
                margin: 2rem 4rem;
            }
            .bookdisplay{
                display: flex;
                justify-content: space-evenly;
            }
        }
       
    }
    footer{
        margin: 2rem;
        font-family: $sans-serif;
        color: $grey;
        font-size: .8rem;
    }
}