<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/master.css")
        script(src="https://kit.fontawesome.com/b639b9baf8.js")
        title Best Books of my choice
    body
        mixin book(src, alt, title, author)
            figure
                img(src=src, alt=alt)
                figcaption.title= title
                figcaption.author= author


        nav
            a(href="#fiction") Fiction
            a(href="#nonfiction") Non-Fiction
            a(href="#graphicNovel") Graphic Novels
        main
            header
                h1 Top Books of my choice
            section.fiction#fiction
                h2 Fiction
                .bookdisplay
                    +book('img/dune.jpg', 'Dune book cover','Dune', 'Frank Herbert')
                    +book('img/dorian_gray.jpg', 'Dorian Gray book cover','Dune', 'Oscar Wilde')
                    +book('img/lotr.jpg', 'Lotr book cover','Lord of the Rings: Fellowship of the Ring', 'J.R.R.Tolkien')

            section.nonFiction#nonfiction
                h2 Non-Fiction
                .bookdisplay
                    +book('img/cosmos.jpeg', 'Cosmos book cover','Cosmos', 'J.R.R.Tolkien')
                    +book('img/history_of_time.jpg', 'A Brief History of Time book cover','A Brief History of Time', 'Stephen Hawking')
                    +book('img/thinking fast and slow.jpg', 'Thinking, Fast and Slow book cover','Thinking Fast and Slow', 'Daniel Kahneman')
                    
            section.graphicNovel#graphicNovel
                h2 Graphic Novels
                .bookdisplay
                    +book('img/blankets.jpg', 'blankets book cover','Blankets', 'Craig Thompson')
                    +book('img/habibi.jpg', 'Habibi book cover','Habibi', 'Craig Thompson')
                    +book('img/they_called_us_enemy.jpg', 'enemy book cover','They called us enemy', 'George Takei')
                    
            footer
                p Made by Mae5tr0 for #100daysOfCode
        script(src="app.js")