<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/master.css")
        script(src="https://kit.fontawesome.com/b639b9baf8.js")
        title Best Books of my choice
    body
        nav
            a(href="#fiction") Fiction
            a(href="#nonfiction") Non-Fiction
            a(href="#graphicNovel") Graphic Novels
        main
            header
                h1 Top Books of my choice
            section.fiction#fiction
                h2 Fiction
                .bookdisplay
                    figure
                        img(src="img/dune.jpg", alt="Dune book cover")
                        figcaption.title Dune
                        figcaption.author Frank Herbert
                    figure
                        img(src="img/dorian_gray.jpg", alt="Dorian gray book cover")
                        figcaption.title The Portrait of Dorian Gray
                        figcaption.author Oscar Wilde
                    figure
                        img(src="img/lotr.jpg", alt="Lord of the Rings book cover")
                        figcaption.title Lord of the Rings: Fellowship of the Ring
                        figcaption.author J.R.R.Tolkien
            section.nonFiction#nonfiction
                h2 Non-Fiction
                .bookdisplay
                    figure
                        img(src="img/cosmos.jpeg", alt="Cosmos book cover")
                        figcaption.title Cosmos
                        figcaption.author Carl Sagan
                    figure
                        img(src="img/history_of_time.jpg", alt="")
                        figcaption.title A Brief History of Time
                        figcaption.author Stephen Hawking
                    figure
                        img(src="img/thinking fast and slow.jpg", alt="")
                        figcaption.title Thinking, Fast and Slow
                        figcaption.author Daniel Kahneman
            section.graphicNovel#graphicNovel
                h2 Graphic Novels
                .bookdisplay
                    figure
                        img(src="img/blankets.jpg", alt="")
                        figcaption.title Blankets
                        figcaption.author Craig Thompson
                    figure
                        img(src="img/habibi.jpg", alt="")
                        figcaption.title Habibi
                        figcaption.author Craig Thompson
                    figure
                        img(src="img/they_called_us_enemy.jpg", alt="")
                        figcaption.title They called us enemy
                        figcaption.author George Takei
            footer
                p Made by Mae5tr0 for #100daysOfCode
        script(src="app.js")